.main-visual + .content-section {
    padding-top: 100px;
}

.services-content {
    display: flex;
    .services-block-intro {
        width: 220px;
        margin-right: auto;
        margin-bottom: 20px;
        padding-top: 20px;
        .services-intro-ttl {
            @include DM-Serif;
            font-size: 24px;
            margin-bottom: 0.5em;
            transform: translateY(-1em);
            transition: all 0.2s;
            transition-delay: 0s;
            text-transform: uppercase;
        }
        p {
            color: $gray02;
            line-height: 1.25em;
            transform: translateY(1em);
            transition: all 0.2s;
            transition-delay: 0s;
        }
        .block-button {
            margin-top: 40px;
            transform: translateY(1em);
            transition: all 0.2s;
            transition-delay: 0s;
        }
    }
}

.tab-pane {
    &.show {
        .services-content {
            .services-block-intro {
                .services-intro-ttl,
                p,
                .block-button {
                    transform: translateY(0);
                }
            }
        }
    }
}

.services-block-slider {
    max-width: calc(100% - 220px);
    width: 1014px;
    margin-left: 15px;
    &.block-full {
        max-width: 100%;
        margin: 0 auto;
        .slick-prev {
            left: -20px;
        }
        .slick-next {
            right: -20px;
        }
        .post-card {
            &:nth-child(even) {
                background-color: $gray06;
            }
        }
    }
    .services-post {
        margin-right: 22px;
    }
}

.post-card {
    width: 100%;
    background-color: #f8f8f8;
    border-color: #eee;
    border-radius: 6px;
    overflow: hidden;
    overflow: hidden;
    display: flex !important;
    flex-direction: column;
    position: relative;
    transition: all 0.2s;
    .card-img-top {
        margin-bottom: 0 !important;
        width: 100%;
    }
    .card-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }
    .card-title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 1em;
        a {
            color: inherit;
        }
    }
    .card-text {
        color: $gray02;
        line-height: 1.25em;
    }
    .card-footer {
        background: none;
        border-top: none;
        padding: 0;
        display: flex;
        justify-content: space-between;
        margin-top: auto;
        padding-top: 20px;
        .post-link {
            margin-left: auto;
        }
    }
    .post-date {
        font-size: 14px;
        color: $gray03;
    }
    .btn-more {
        font-size: 14px;
    }
    .wrap-post-link {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.slick-slider {
    .post-card {
        width: 290px;
        max-width: 100%;
    }
}

.section-aboutus {
    .container {
        &.large {
            max-width: 1280px;
        }
    }
}

.section-blog {
    .container {
        &.large {
            max-width: 1280px;
        }
    }
}

.section-button {
    margin-top: 50px;
}

.section-clients {
    padding-bottom: 80px;
    h3 {
        margin-bottom: 0.75em;
    }
}


.list-clients {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        margin: 20px 40px;
    }
}

.aboutus-card {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    .card-img {
        img {
            transition: all 0.5s;
        }
    }
    .card-content {
        width: calc(100% - 32px);
        padding: 17px 30px 10px;
        position: absolute;
        left: 16px;
        bottom: 16px;
        background: rgba(255,255,255,0.9);
        border-radius: 6px;
        z-index: 1;
        overflow: hidden;
        height: 60px;
        transition: all 0.2s;
        .card-ttl {
            font-size: 24px;
            @include DM-Serif;
            padding-bottom: 15px;
            border-bottom: solid 1px $gray04;
            margin-bottom: 15px;
        }
        .card-txt {
            line-height: 1.25em;
        }
        &:before {
            content: "";
            width: 24px;
            height: 24px;
            background: url('../assets/img/icons/arrow-big.svg') center center / 24px no-repeat;
            position: absolute;
            right: 25px;
            bottom: 20px;
            transform: rotate(180deg);
            opacity: 0;
            transition: all 0.2s;
        }
    }
    a {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
    }
}