// FOOTER & HEADER
.header {
    background-color: $white;
    .container {
        height: 120px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
}
.global-nav {
    display: flex;
    justify-content: center;
    li {
        margin: 0 30px;
        a {
            color: $gray01;
            position: relative;
            display: inline-block;
            padding: 1px 0;
            &:before {
                content: "";
                width: 100%;
                height: 2px;
                background-color: $green;
                position: absolute;
                left: 0;
                bottom: 0;
                transition: all 0.1s;
                opacity: 0;
            }
            &:hover {
                font-weight: 600;
                color: $green;
                text-decoration: none;
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}
.login-button {
    .btn {
        min-width: 90px;
    }
}
.footer {
    margin-top: 80px;
    padding: 1px 0 70px 0;
    background-color: $grey;
    .f-navigation {
        margin-top: 60px;
        display: flex;
        margin-bottom: 50px;
        .f-col-left {
            padding-right: 30px;
            margin-right: auto;
        }
        .f-col-right {
            display: flex;
            width: 680px;
            max-width: 100%;
            .f-nav {
                min-width: 95px;
                &:not(:last-child) {
                    margin-right: 60px;
                }
            }
        }
    }
    address {
        color: $gray02;
        font-size: 14px;
    }
    .f-logo {
        margin-bottom: 40px;
    }
    .contact-info-section {
        margin-top: -80px;
    }
}
.f-nav {
    li {
        font-size: 14px;
        &:not(:last-child) {
            margin-bottom: 0.7em;
        }
        &.f-nav-ttl {
            font-weight: 700;
            font-size: 16px;
            margin-bottom: 1.5em;
        }
        a {
            color: inherit;
        }
    }
}
// COMPONENTS
.list-social {
    display: flex;
    li {
        &:not(:last-child) {
            margin-right: 17px;
        }
        a {
            display: flex;
            width: 32px;
            height: 32px;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: $gray03;
            &.instagram {
                background-color: transparent;
                border-radius: none;
            }
        }
    }
}
.contact-info-section {
    padding: 40px 60px 50px;
    background: $darkgreen;
    border-radius: 6px;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    border-top: solid 16px $green;
    .section-title {
        @include DM-Serif;
        font-size: 48px;
    }
    .section-info {
        display: flex;
        dl {
            margin: 0;
            &:not(:last-child) {
                margin-right: 60px;
            }
            dt {
                font-weight: 600;
            }
            dd {
                font-size: 14px;
                margin: 0;
            }
        }
    }
}
.main-visual {
    height: 608px;
    padding-bottom: 20px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    h2 {
        font-size: 60px;
        line-height: 1.4em;
        margin-bottom: 1em;
    }
    .visual-desc {
        font-size: 24px;
        line-height: 1.16em;
        font-weight: 600;
        max-width: 855px;
        margin: 0 auto 2.5em;
    }
}
.btn-contact {
    color: $white;
    border: solid 1px $white;
    background-color: rgba(0,0,0,0.7);
    background: url('../assets/img/icons/arrow-right-01.svg') right 20px center / 14px no-repeat rgba(0,0,0,0.7);
    padding-right: 45px;
    padding-left: 22px;
    border-radius: 6px;
    &:hover {
        color: $white;
        background-color: $green;
    }
}

.text-link-arrow {
    font-weight: 600;
    color: inherit;
    padding-right: 22px;
    padding-bottom: 1px;
    background: url('../assets/img/icons/arrow-right-02.svg') right center / 14px no-repeat;
    &:hover {
        color: $green;
        text-decoration: none;
        padding-right: 25px;
        background-image: url('../assets/img/icons/arrow-right-03.svg');
    }
}

.content-section {
    padding: 50px 0;
}

h3 {
    margin-bottom: 1.25em;
    font-size: 48px;
    .section-sub-ttl {
        display: block;
        text-transform: uppercase;
        font-size: 50%;
        font-weight: 600;
        color: $green;
        margin-bottom: 0.75em;
    }
    .section-ttl {
        @include DM-Serif;
    }
}

.nav {
    &.tab-title-only {
        margin-bottom: 50px;
        border-bottom: none;
        justify-content: space-between;
        .nav-link {
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 0.25em 0;
            font-size: 24px;
            font-weight: 600;
            color: $gray02;
            position: relative;
            &:before {
                content: "";
                width: 100%;
                height: 3px;
                background-color: $gray02;
                position: absolute;
                left: 0;
                bottom: 0;
                border-radius: 5px;
                opacity: 0;
            }
            &.active {
                color: $green;
                &:before {
                    opacity: 1;
                    background-color: $green;
                }
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

.btn-more {
    color: $green;
    font-weight: 500;
    &:hover {
        color: $green;
    }
}

.basic-slider {
    width: 100%;
    padding: 0 50px;
    .slick-track {
        display: flex;
        .slick-slide {
            height: auto;
        }
    }
    .slick-arrow {
        width: 30px;
        height: 30px;
        &:before {
            display: none;
        }
        &:after {
            content: "";
            width: 100%;
            height: 100%;
            background: url('../assets/img/icons/arrow-big.svg') center center / 30px no-repeat;
            position: absolute;
            left: 0;
            top: 0;
        }
        &:hover {
            opacity: 0.8;
        }
    }
    .slick-prev {
        left: 0;
    }
    .slick-next {
        right: 0;
        &:after {
            transform: rotate(180deg);
        }
    }
}

.page-visual {
    height: 420px;
    background-size: cover;
    background-position: center;
    margin-bottom: 80px;
}

.page-2-column {
    display: flex;
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
    &:last-child {
        padding-bottom: 80px;
    }
    .page-content {
        padding-top: 90px;
        .row {
            margin-left: -10px;
            margin-right: -10px;
        }
        [class*="col-"] {
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    &.search-content {
        flex-direction: column;
        .page-content {
            padding-top: 60px;
        }
    }
}

.highlight {
    background-color: #FFEDAF;;
}

.left-sidebar {
    width: 330px;
    margin-right: 65px;
    flex-shrink: 0;
    .searchbox {
        margin-bottom: 42px;
    }
}

.input-text-wrapper {
	position: relative;
}

.search-input {
    font-size: 20px;
    padding: 5px 20px 5px 50px;
    height: 42px;
    background: url('../assets/img/icons/search.svg') left 17px center / 24px no-repeat $white;
    &::placeholder {
        color: $gray03;
    }
}

body.searching {
    .searchbox {
        height: 42px;
    }
    .input-text-wrapper {
        transition: all 0.5s;
        position: absolute;
        z-index: 5;
        left: 15px;
        top: 0;
        width: calc(100% - 30px);
    }
    .page-2-column {
        .left-sidebar > *:not(.searchbox) {
            opacity: 0.2;
            transition: all 0.2s;
        }
        .page-content {
            opacity: 0.2;
            transition: all 0.2s;
        }
    }
}

.title-small {
    font-size: 18px;
    margin-bottom: 60px;
    color: $gray02;
    b {
        color: $gray01;
    }
    .section-sub-ttl {
        font-size: 120%;
    }
}

.sidebar-ttl {
    font-size: 20px;
    border-bottom: solid 1px #C6C6C6;
    padding-bottom: 0.5em;
    margin-bottom: 0.7em;
}

.siderbar-block {
    &:not(:last-child) {
        margin-bottom: 40px;
    }
}

.category-list {
    li {
        font-size: 14px;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        a {
            color: inherit;
            &.list-icon {
                padding-left: 12px;
                position: relative;
                &:before {
                    content: "";
                    width: 4px;
                    height: 4px;
                    background-color: $green;
                    border-radius: 50%;
                    position: absolute;
                    left: 0;
                    top: 0.4em;
                }
            }
        }
        .form-check {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}

.archive-post-card {
    [class*="col-"] {
        display: flex;
        flex-direction: column;
        .card {
            flex-grow: 1;
            margin-bottom: 20px;
        }
    }
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    a,
    span {
        width: 64px;
        height: 64px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1em;
        color: $gray04;
        font-weight: 600;
        font-size: 24px;
        margin: 8px;
        &.current {
            background-color: $green;
            color: $white;
            pointer-events: none;
        }
        &.dir {
            color: $gray01;
            font-size: 18px;
        }
        &.disabled {
            opacity: 0.6;
            pointer-events: none;
        }
        &:hover {
            background-color: $gray04;
            text-decoration: none;
            color: $white;
        }
    }
    span {
        pointer-events: none;
    }
}