extends _layouts/default
block vars
	- var title="Blog Category"
	- var menu_name = "blog"

block main
	.page-visual(style="background-image: url('./assets/img/images/visual-img-02.jpg');")
	.page-2-column
		.left-sidebar
			.searchbox
				.input-text-wrapper
					input(type="text" class="search-input form-control" placeholder="Search")
					.close-btn
			.siderbar-block.siderbar-block-category
				p.sidebar-ttl Category
				ul.category-list 
					li
						a.list-icon(href="#") All blogs (18) 
					li
						.form-check
							input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault1" checked)
							label(class="form-check-label" for="flexCheckDefault1") Stewardship (4)
						.form-check
							input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault2")
							label(class="form-check-label" for="flexCheckDefault2") Planning & Adaptive Management (4)
						.form-check
							input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault3" checked)
							label(class="form-check-label" for="flexCheckDefault3") Science (3)
						.form-check
							input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault4")
							label(class="form-check-label" for="flexCheckDefault4") Timber (3)
						.form-check
							input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault5")
							label(class="form-check-label" for="flexCheckDefault5") Geospatial and Software (4)
			.recent-blog.pc
				p.sidebar-ttl Recent Blogs
				.siderbar-block 
					ul.category-list 
						li
							a(href="#") Weyerhaeuser
						li
							a(href="#") Orchard-Loner
						li
							a(href="#") Bluesource
						li
							a(href="#") Sean's PhD
						li
							a(href="#") Miles' PNW work
						li
							a(href="#") Allison’s work?
						li
							a(href="#") KC FLAT (soon?)
						li
							a(href="#") O-L lidar flight (soon?)
						li
							a(href="#") Twisp
						li
							a(href="#") Oly M&E
		.page-content 
			h2.primary-title
				span.section-sub-ttl 7 Results
			.row.archive-post-card
				.col-sm-6.col-lg-4
					.card.post-card.services-post
						a.post-link-img(href="./blog-detail.html")
							img.card-img-top(src="./assets/img/images/services-post-img-01.jpg", alt="")
						.card-body
							h5.card-title
								a(href="./blog-detail.html")  Miller River
							p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
							.card-footer
								p.post-date 8/23/2021
								a(href="#").post-link.btn-more More
				.col-sm-6.col-lg-4
					.card.post-card.services-post
						a.post-link-img(href="./blog-detail.html")
							img.card-img-top(src="./assets/img/images/services-post-img-02.jpg", alt="")
						.card-body
							h5.card-title
								a(href="./blog-detail.html")  Other Small Private Land Owner Projects
							p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
							.card-footer
								p.post-date 8/23/2021
								a(href="#").post-link.btn-more More
				.col-sm-6.col-lg-4
					.card.post-card.services-post
						a.post-link-img(href="./blog-detail.html")
							img.card-img-top(src="./assets/img/images/services-post-img-03.jpg", alt="")
						.card-body
							h5.card-title
								a(href="./blog-detail.html")  King’s Country
							p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
							.card-footer
								p.post-date 8/23/2021
								a(href="#").post-link.btn-more More
				.col-sm-6.col-lg-4
					.card.post-card.services-post
						a.post-link-img(href="./blog-detail.html")
							img.card-img-top(src="./assets/img/images/services-post-img-04.jpg", alt="")
						.card-body
							h5.card-title
								a(href="./blog-detail.html") Miller River
							p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
							.card-footer
								p.post-date 8/23/2021
								a(href="./blog-detail.html").post-link.btn-more More
				.col-sm-6.col-lg-4
					.card.post-card.services-post
						a.post-link-img(href="./blog-detail.html")
							img.card-img-top(src="./assets/img/images/services-post-img-05.jpg", alt="")
						.card-body
							h5.card-title
								a(href="./blog-detail.html") Orchard-Loner
							p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
							.card-footer
								p.post-date 8/23/2021
								a(href="./blog-detail.html").post-link.btn-more More
				.col-sm-6.col-lg-4
					.card.post-card.services-post
						a.post-link-img(href="./blog-detail.html")
							img.card-img-top(src="./assets/img/images/services-post-img-06.jpg", alt="")
						.card-body
							h5.card-title
								a(href="./blog-detail.html") Bluesource
							p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
							.card-footer
								p.post-date 8/23/2021
								a(href="./blog-detail.html").post-link.btn-more More
				.col-sm-6.col-lg-4
					.card.post-card.services-post
						a.post-link-img(href="./blog-detail.html")
							img.card-img-top(src="./assets/img/images/services-post-img-07.jpg", alt="")
						.card-body
							h5.card-title
								a(href="./blog-detail.html") Sean's PhD
							p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
							.card-footer
								p.post-date 8/23/2021
								a(href="./blog-detail.html").post-link.btn-more More
			.recent-blog.sp.mt-5
				p.sidebar-ttl Recent Blogs
				.siderbar-block 
					ul.category-list 
						li
							a(href="#") Weyerhaeuser
						li
							a(href="#") Orchard-Loner
						li
							a(href="#") Bluesource
						li
							a(href="#") Sean's PhD
						li
							a(href="#") Miles' PNW work
						li
							a(href="#") Allison’s work?
						li
							a(href="#") KC FLAT (soon?)
						li
							a(href="#") O-L lidar flight (soon?)
						li
							a(href="#") Twisp
						li
							a(href="#") Oly M&E