extends _layouts/default
block vars
	- var title="Careers"
	- var menu_name = "careers"

block main
	.page-visual(style="background-image: url('./assets/img/images/visual-img-04.jpg');")
	.container.large.post-detail
		h2.primary-title.text-center
			span.section-ttl Join With Our Team To Make <br class="pc"/> Good Things Happen 
		h3 Resilient Forestry Is Hiring!
		p Want to get paid to hike and camp in the woods? Come work for a growing company on ecologically focused projects with opportunities to learn alongside experienced ecologists!
		p Resilient Forestry works in all aspects of forestry, forest science, and forest management, specializing in ecological forest restoration. We are based in Seattle and work across the Pacific Northwest (PNW) with small and large public and private landowners on a range of projects.
		hr.my-5
		h3 All Jobs
		.row.list-jobs 
			.col-sm-6.col-lg-3
				.card.post-card.job-post
					a.post-link-img(href="./job-detail.html")
						img.card-img-top(src="./assets/img/images/career/img-01.jpg", alt="")
					.card-body
						h5.card-title
							a(href="./job-detail.html") Project Manager
						p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
						.card-footer
							a(href="./job-detail.html").post-link.btn-more More
			.col-sm-6.col-lg-3
				.card.post-card.job-post
					a.post-link-img(href="./job-detail.html")
						img.card-img-top(src="./assets/img/images/career/img-02.jpg", alt="")
					.card-body
						h5.card-title
							a(href="./job-detail.html") Senior Forestry Technician
						p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
						.card-footer
							a(href="./job-detail.html").post-link.btn-more More
			.col-sm-6.col-lg-3
				.card.post-card.job-post
					a.post-link-img(href="./job-detail.html")
						img.card-img-top(src="./assets/img/images/career/img-03.jpg", alt="")
					.card-body
						h5.card-title
							a(href="./job-detail.html") Forestry Technician
						p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
						.card-footer
							a(href="./job-detail.html").post-link.btn-more More
			.col-sm-6.col-lg-3
				.card.post-card.job-post
					a.post-link-img(href="./job-detail.html")
						img.card-img-top(src="./assets/img/images/career/img-04.jpg", alt="")
					.card-body
						h5.card-title
							a(href="./job-detail.html") Administrator
						p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
						.card-footer
							a(href="./job-detail.html").post-link.btn-more More
		
		hr.my-5
		h3 Our Hiring Policy
		p Resilient Forestry is an equal opportunity employer that is committed to diversity and inclusion in the workplace. We prohibit discrimination and harassment of any kind based on race, color, sex, religion, sexual orientation, national origin, disability, genetic information, pregnancy, or any other protected characteristic as outlined by federal, state, or local laws.
		p This policy applies to all employment practices within our organization, including hiring, recruiting, promotion, termination, layoff, recall, leave of absence, compensation, benefits, training, and apprenticeship. Resilient Forestry makes hiring decisions based solely on qualifications, merit, and business needs at the time.
		p Resilient Forestry does not discriminate based on disability in its hiring or employment practices and complies with all regulations promulgated by the U.S. Equal Employment Opportunity Commission under Title I of the Americans with Disabilities Act (ADA).
		p Resilient Forestry requires all employees to provide proof of vaccination against Covid-19.