extends _layouts/default
block vars
	- var title="Diversity"
	- var menu_name = "about"

block main
	.page-visual(style="background-image: url('./assets/img/images/visual-img-03.jpg');")
	.container.post-detail
		h2.primary-title.text-center
			span.section-sub-ttl ABOUT US
			span.section-ttl Diversity
		img(src="./assets/img/images/about/img-03.jpg", alt="")
		h3 Diversity Statement?
		p Resilient Forestry’s mission is to achieve the greatest outcome based on the best available science for our ecosystems and their surrounding communities. Our purpose is to clearly share our knowledge and expertise with forest managers to facilitate meeting functional ecosystem management objectives over the long term. We strive to translate the latest science into practical solutions that increase the efficiency and effectiveness of management actions.
		p We work with forest owners on all aspects of implementing forest stewardship plans and timber sales. Services include stand exams, stream typing, cruising, harvest layout, DNR and county permitting, contract and compliance administration, We have extensive experience with thinning mature stands, wildlife habitat improvement projects, non-commercial vegetation treatments and seedling planting projects, and working with multiple stakeholders to communicate the benefits and trade-offs of forest management.
		.quote 
			p Resilient Forestry has a unique skill set in monitoring changes in forests over time for compliance or research objectives. We design and implement seedling survival studies, pre- and post-harvest monitoring, and long-term forest vegetation surveys for public and private clients around the world.