extends _layouts/default
block vars
	- var title="Home Page"

block main
	// END: PAGE - HOME PAGE
	.main-visual(style="background-image: url('./assets/img/images/visual-img-01.jpg');")
		.container.large
			h2.text-center 
				| Conservation, Forestry, and 
				br
				| Management in a Changing Landscape
			p.visual-desc.text-center
				| Resilient Forestry has a unique skill set in monitoring changes in forests over time for compliance or research objectives. 
			.visual-button.text-center
				a.btn.btn-contact(href="#") Contact Us