extends _layouts/default
block vars
	- var title="Home Page"
	- var menu_name = "home"

block main
	// END: PAGE - HOME PAGE
	.main-visual(style="background-image: url('./assets/img/images/visual-img-01.jpg');")
		.container.large
			h2.text-center 
				| Conservation, Forestry, and 
				br.pc
				| Management in a Changing Landscape
			p.visual-desc.text-center
				| Resilient Forestry has a unique skill set in monitoring changes in forests over time for compliance or research objectives. 
			.visual-button.text-center
				a.btn.btn-contact(href="#") Contact Us
	.content-section.section-services
		.container.large
			h3.primary-title.text-center
				span.section-sub-ttl OUR services
				span.section-ttl 
					| Services of forest inventories and 
					br.pc
					| management planning
			ul(class="nav nav-tabs tab-title-only" id="tab-services" role="tablist")
				li(class="nav-item" role="presentation")
					button(class="nav-link active" id="stewardship-tab" data-bs-toggle="tab" data-bs-target="#stewardship" type="button" role="tab" aria-controls="stewardship" aria-selected="true") Stewardship
				li(class="nav-item" role="presentation")
					button(class="nav-link" id="planning-tab" data-bs-toggle="tab" data-bs-target="#planning" type="button" role="tab" aria-controls="planning" aria-selected="true") Planning & Adaptive Management
				li(class="nav-item" role="presentation")
					button(class="nav-link" id="science-tab" data-bs-toggle="tab" data-bs-target="#science" type="button" role="tab" aria-controls="science" aria-selected="true") Science
				li(class="nav-item" role="presentation")
					button(class="nav-link" id="timber-tab" data-bs-toggle="tab" data-bs-target="#timber" type="button" role="tab" aria-controls="timber" aria-selected="true") Timber
				li(class="nav-item" role="presentation")
					button(class="nav-link" id="geospatial-tab" data-bs-toggle="tab" data-bs-target="#geospatial" type="button" role="tab" aria-controls="geospatial" aria-selected="true") Geospatial and Software
			div(class="tab-content" id="tab-services-content")
				div(class="tab-pane fade show active" id="stewardship" role="tabpanel" aria-labelledby="stewardship-tab")
					.services-content
						.services-block-intro
							h4.services-intro-ttl STEWARDSHIP
							p We combine field forestry capabilities with landscape-scale analyses and multi-stakeholder decision making for publicly-owned lands, private forest owners, and non-profits. Services include forest inventories and management planning, sale layout and harvest administration.
							div.block-button
								a.text-link-arrow(href="./services.html") See More
						.services-block-slider.basic-slider
							.card.post-card.services-post
								a.post-link-img(href="./blog-detail.html")
									img.card-img-top(src="./assets/img/images/services-post-img-01.jpg", alt="")
								.card-body
									h5.card-title
										a(href="./blog-detail.html") Miller River
									p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
									.card-footer
										p.post-date 8/23/2021
										a(href="./blog-detail.html").post-link.btn-more More
							.card.post-card.services-post
								a.post-link-img(href="./blog-detail.html")
									img.card-img-top(src="./assets/img/images/services-post-img-02.jpg", alt="")
								.card-body
									h5.card-title 
										a(href="./blog-detail.html") Other Small Private Land Owner Projects
									p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
									.card-footer
										p.post-date 8/23/2021
										a(href="./blog-detail.html").post-link.btn-more More
							.card.post-card.services-post
								a.post-link-img(href="./blog-detail.html")
									img.card-img-top(src="./assets/img/images/services-post-img-03.jpg", alt="")
								.card-body
									h5.card-title
										a(href="./blog-detail.html") King’s Country
									p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
									.card-footer
										p.post-date 8/23/2021
										a(href="./blog-detail.html").post-link.btn-more More
							.card.post-card.services-post
								a.post-link-img(href="./blog-detail.html")
									img.card-img-top(src="./assets/img/images/services-post-img-02.jpg", alt="")
								.card-body
									h5.card-title
										a(href="./blog-detail.html") Other Small Private Land Owner Projects
									p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
									.card-footer
										p.post-date 8/23/2021
										a(href="./blog-detail.html").post-link.btn-more More
				div(class="tab-pane fade" id="planning" role="tabpanel" aria-labelledby="stewardship-tab")
					.services-content
						.services-block-intro
							h4.services-intro-ttl Planning & Adaptive Management
							p We combine field forestry capabilities with landscape-scale analyses and multi-stakeholder decision making for publicly-owned lands, private forest owners, and non-profits. Services include forest inventories and management planning, sale layout and harvest administration.
							div.block-button
								a.text-link-arrow(href="./blog-category.html") See More
						.services-block-slider.basic-slider
							.card.post-card.services-post
								a.post-link-img(href="./blog-detail.html")
									img.card-img-top(src="./assets/img/images/services-post-img-01.jpg", alt="")
								.card-body
									h5.card-title
										a(href="./blog-detail.html") Miller River
									p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
									.card-footer
										p.post-date 8/23/2021
										a(href="./blog-detail.html").post-link.btn-more More
				div(class="tab-pane fade" id="science" role="tabpanel" aria-labelledby="stewardship-tab")
					.services-content
						.services-block-intro
							h4.services-intro-ttl Science
							p We combine field forestry capabilities with landscape-scale analyses and multi-stakeholder decision making for publicly-owned lands, private forest owners, and non-profits. Services include forest inventories and management planning, sale layout and harvest administration.
							div.block-button
								a.text-link-arrow(href="./blog-category.html") See More
						.services-block-slider.basic-slider
							.card.post-card.services-post
								a.post-link-img(href="./blog-detail.html")
									img.card-img-top(src="./assets/img/images/services-post-img-01.jpg", alt="")
								.card-body
									h5.card-title
										a(href="./blog-detail.html") Miller River
									p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
									.card-footer
										p.post-date 8/23/2021
										a(href="./blog-detail.html").post-link.btn-more More
				div(class="tab-pane fade" id="timber" role="tabpanel" aria-labelledby="stewardship-tab")
					.services-content
						.services-block-intro
							h4.services-intro-ttl Timber
							p We combine field forestry capabilities with landscape-scale analyses and multi-stakeholder decision making for publicly-owned lands, private forest owners, and non-profits. Services include forest inventories and management planning, sale layout and harvest administration.
							div.block-button
								a.text-link-arrow(href="./blog-category.html") See More
						.services-block-slider.basic-slider
							.card.post-card.services-post
								a.post-link-img(href="./blog-detail.html")
									img.card-img-top(src="./assets/img/images/services-post-img-01.jpg", alt="")
								.card-body
									h5.card-title
										a(href="./blog-detail.html") Miller River
									p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
									.card-footer
										p.post-date 8/23/2021
										a(href="./blog-detail.html").post-link.btn-more More
				div(class="tab-pane fade" id="geospatial" role="tabpanel" aria-labelledby="stewardship-tab")
					.services-content
						.services-block-intro
							h4.services-intro-ttl Geospatial and Software
							p We combine field forestry capabilities with landscape-scale analyses and multi-stakeholder decision making for publicly-owned lands, private forest owners, and non-profits. Services include forest inventories and management planning, sale layout and harvest administration.
							div.block-button
								a.text-link-arrow(href="./blog-category.html") See More
						.services-block-slider.basic-slider
							.card.post-card.services-post
								a.post-link-img(href="./blog-detail.html")
									img.card-img-top(src="./assets/img/images/services-post-img-01.jpg", alt="")
								.card-body
									h5.card-title
										a(href="./blog-detail.html") Miller River
									p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
									.card-footer
										p.post-date 8/23/2021
										a(href="./blog-detail.html").post-link.btn-more More
		

	.content-section.section-aboutus
		.container.large
			h3.primary-title.text-center
				span.section-sub-ttl ABOUT US
				span.section-ttl Exceptional Solution For Forestry Project
			.row
				.col-md-4 
					.aboutus-card 
						.card-img 
							img(src="./assets/img/images/about-img-01.jpg", width="100%", alt="")
						.card-content 
							h4.card-ttl.text-center MISSION/ VISION
							p.card-txt Et has minim elitr intellegat. Meaning aeterno eleife antiopam ad, nam no suscipiuaeren. Et has minim elitrele intellegat mea aeterno eleifemination antiopam ad, nam no suscipituition.
						a.card-link(href="./vision.html") 
				.col-md-4 
					.aboutus-card 
						.card-img 
							img(src="./assets/img/images/about-img-02.jpg", width="100%", alt="")
						.card-content 
							h4.card-ttl.text-center DIVERSITY
							p.card-txt Et has minim elitr intellegat. Meaning aeterno eleife antiopam ad, nam no suscipiuaeren. Et has minim elitrele intellegat mea aeterno eleifemination antiopam ad, nam no suscipituition.
						a.card-link(href="./diversity.html") 
				.col-md-4 
					.aboutus-card 
						.card-img 
							img(src="./assets/img/images/about-img-03.jpg", width="100%", alt="")
						.card-content 
							h4.card-ttl.text-center MEMBERS
							p.card-txt Et has minim elitr intellegat. Meaning aeterno eleife antiopam ad, nam no suscipiuaeren. Et has minim elitrele intellegat mea aeterno eleifemination antiopam ad, nam no suscipituition.
						a.card-link(href="./members.html") 

	.content-section.section-blog
		.container.large
			h3.primary-title.text-center
				span.section-sub-ttl BLOG
				span.section-ttl Our Latest Blogs
			.latest-blog-section
				.row
					.col-sm-6.col-lg-3
						.card.post-card.services-post
							a.post-link-img(href="./blog-detail.html")
								img.card-img-top(src="./assets/img/images/blog-img-01.jpg", alt="")
							.card-body
								h5.card-title
										a(href="./blog-detail.html") Weyerhaeuser
								p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
								.card-footer
									p.post-date 8/23/2021
									a(href="./blog-detail.html").post-link.btn-more More
					.col-sm-6.col-lg-3
						.card.post-card.services-post
							a.post-link-img(href="./blog-detail.html")
								img.card-img-top(src="./assets/img/images/blog-img-02.jpg", alt="")
							.card-body
								h5.card-title
										a(href="./blog-detail.html") Orchard-Loner
								p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
								.card-footer
									p.post-date 8/23/2021
									a(href="./blog-detail.html").post-link.btn-more More
					.col-sm-6.col-lg-3
						.card.post-card.services-post
							a.post-link-img(href="./blog-detail.html")
								img.card-img-top(src="./assets/img/images/blog-img-03.jpg", alt="")
							.card-body
								h5.card-title
										a(href="./blog-detail.html") Bluesource
								p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
								.card-footer
									p.post-date 8/23/2021
									a(href="./blog-detail.html").post-link.btn-more More
					.col-sm-6.col-lg-3
						.card.post-card.services-post
							a.post-link-img(href="./blog-detail.html")
								img.card-img-top(src="./assets/img/images/blog-img-04.jpg", alt="")
							.card-body
								h5.card-title
										a(href="./blog-detail.html") Sean's PhD
								p.card-text Mea aeterno eleifen ntiopam ad, nam no suscipitquaeren Et has minim elitr intellegat ntiopam.Mea aeterno eleifen
								.card-footer
									p.post-date 8/23/2021
									a(href="./blog-detail.html").post-link.btn-more More
			.section-button.text-center 
				a.text-link-arrow(href="./blog.html") See All Blogs

	.content-section.section-clients
		.container.large
			h3.primary-title.text-center
				span.section-sub-ttl CLIENTS
				span.section-ttl Trusted By
			ul.list-clients 
				li
					img(src="./assets/img/images/clients/client-01.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-02.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-03.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-04.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-05.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-06.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-07.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-08.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-09.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-10.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-11.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-12.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-13.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-14.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-15.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-16.svg", widht="157", alt="")
				li
					img(src="./assets/img/images/clients/client-17.svg", widht="157", alt="")