extends _layouts/default
block vars
	- var title="Job Detail"
	- var menu_name = "careers"

block main
	.page-visual(style="background-image: url('./assets/img/images/visual-img-04.jpg');")
	.container.large.post-detail
		nav(aria-label="breadcrumb")
			ol.breadcrumb
				li.breadcrumb-item
					a(href="./careers.html") Career
				li.breadcrumb-item.active(aria-current="page") Project Manager
		h2.post-detail-title Project Manager
		p.post-detail-info Tuesday, December 21, 2021
		img(src="./assets/img/images/career/img-05.jpg", alt="")
		h3 What We Are Looking For
		p We are looking for an experienced forest ecologist who can work closely with clients to identify, plan, and execute projects. These projects are holistic in nature and may include management of personnel and data, field inventory and measurement, literature review, geospatial data analysis, statistical modeling, report writing, and presentation of results. Opportunities to write proposals and estimate budgets for new projects, and be part of all aspects of our small company. This is a full-time permanent position. Scheduling is flexible and office work will be carried out remotely; occasional field work requires residence in the PNW. $45,000 - $60,000 depending on experience. Healthcare and retirement programs. The deadline for applications is January 15, 2022.
		hr.my-5
		h3 Qualifications
		ul 
			li Master of Forest Resources or Master of Science preferred (BS/BA accepted)
			li Knowledge of principles of ecological forestry and PNW forested ecosystems
			li Forestry operations knowledge preferred
			li 2+ years experience in field data collection, analysis, and technical report writing
			li Proficiency with GIS and spatial analysis
			li Excellent written and oral communication skills
			li Ability to work autonomously and remotely managing simultaneous projects
			li Experience working directly with clients preferred
			li Experience leading teams to complete projects
			li Positive attitude and ability to actively foster an inclusive work environment
			li Access to computer and cell phone sufficient for work purposes
			li Valid driver’s license and access to a vehicle capable of driving on primitive roads
		.post-detail-footer
			a.btn.btn-primary.btn-apply.mr-3(href="#") Apply For This Job
			a.btn.btn-light(href="#") Download Flyer