extends _layouts/default
block vars
	- var title="Members"
	- var menu_name = "about"

block main
	.page-visual(style="background-image: url('./assets/img/images/visual-img-03.jpg');")
	.container.post-detail
		h2.primary-title.text-center.mb-5
			span.section-sub-ttl ABOUT US
			span.section-ttl Our Members
		h3.text-center.mb-5 Discover more about RF members and professionally qualified civil engineers.
		.row.section-members
			.col-sm-6.col-lg-4 
				.card.post-card.member-card
					img.card-img-top(src="./assets/img/images/about/member-01.jpg", alt="")
					.card-body
						h4.card-title.primary-title.text-center
							span.section-sub-ttl Owner/Lead Analyst
							span.section-ttl SEAN JERONIMO
						p.card-text.text-center Sean has forest management, research, and analysis experience from up and down the West Coast and National Forest collaborative experience in eastern Washington, Seatles, New York and Arizona. 
			.col-sm-6.col-lg-4 
				.card.post-card.member-card
					img.card-img-top(src="./assets/img/images/about/member-02.jpg", alt="")
					.card-body
						h4.card-title.primary-title.text-center
							span.section-sub-ttl Owner/Lead Forester
							span.section-ttl MILES LEFEVRE
						p.card-text.text-center Sean has forest management, research, and analysis experience from up and down the West Coast and National Forest collaborative experience in eastern Washington, Seatles, New York and Arizona. 
			.col-sm-6.col-lg-4 
				.card.post-card.member-card
					img.card-img-top(src="./assets/img/images/about/member-03.jpg", alt="")
					.card-body
						h4.card-title.primary-title.text-center
							span.section-sub-ttl Project Manager 
							span.section-ttl ALAN BARULICH
						p.card-text.text-center Sean has forest management, research, and analysis experience from up and down the West Coast and National Forest collaborative experience in eastern Washington, Seatles, New York and Arizona. 
			.col-sm-6.col-lg-4 
				.card.post-card.member-card
					img.card-img-top(src="./assets/img/images/about/member-04.jpg", alt="")
					.card-body
						h4.card-title.primary-title.text-center
							span.section-sub-ttl IOS Developer
							span.section-ttl DAVE JAMES
						p.card-text.text-center Sean has forest management, research, and analysis experience from up and down the West Coast and National Forest collaborative experience in eastern Washington, Seatles, New York and Arizona. 
			.col-sm-6.col-lg-4 
				.card.post-card.member-card
					img.card-img-top(src="./assets/img/images/about/member-05.jpg", alt="")
					.card-body
						h4.card-title.primary-title.text-center
							span.section-sub-ttl Project Assistant
							span.section-ttl ROBE LEE
						p.card-text.text-center Sean has forest management, research, and analysis experience from up and down the West Coast and National Forest collaborative experience in eastern Washington, Seatles, New York and Arizona. 
			.col-sm-6.col-lg-4 
				.card.post-card.member-card
					img.card-img-top(src="./assets/img/images/about/member-06.jpg", alt="")
					.card-body
						h4.card-title.primary-title.text-center
							span.section-sub-ttl Project Assistant
							span.section-ttl TOM DEAN
						p.card-text.text-center Sean has forest management, research, and analysis experience from up and down the West Coast and National Forest collaborative experience in eastern Washington, Seatles, New York and Arizona. 