extends _layouts/default
block vars
	- var title="Job Detail"

block main
	.page-visual(style="background-image: url('./assets/img/images/visual-img-02.jpg');")
	.container.large.post-detail
		h2.primary-title
			span.section-sub-ttl OUR SERVICES
			span.section-ttl Stewardship