extends _layouts/default
block vars
	- var title="TERMS AND CONDITIONS"

block main
	.page-visual(style="background-image: url('./assets/img/images/visual-img-03.jpg');")
	.container.post-detail
		h2.primary-title.text-center
			span.section-sub-ttl TERMS AND CONDITIONS
			span.section-ttl We have T&C that you need to read
		h3 Who are we?
		p These terms and conditions relate to our websites at 
			a(href="#") https://www.resilientforestry.com/
		.quote 
			p Please read these terms and conditions carefully – they set out the basis on which you are allowed to use this website.  <br/>If you have any questions about them please contact the Website Editor at our registered address as set out below.  <br/>By using our website, you confirm that you accept these terms and conditions and that you agree to comply with them.
		p This website is operated by Center Parcs (Operating Company) Limited, a company registered in England and Wales at Companies House.  Our registered office is Head Office, One Edison Rise, New Ollerton, Newark, Nottinghamshire NG22 9DP and our registered number is 04379585.  Our VAT number is 803978505.
		hr.my-5
		h3 Using our website
		p You can use this website for your own personal, non-commercial use and you may draw the attention of other individuals to content posted on our website.  You must not use any part of the content on our website for commercial purposes without obtaining our consent in writing.  We can’t guarantee that the website will stay the same – we might change or remove it from time to time.
		p You need to register to use the 'My Account' part of this website and to book a holiday with us. You will be asked for your email address and a password and you must ensure such details are kept confidential and secure.  You will be responsible for any access to the website by anyone using your log-in details.  
		p This website and its contents are protected by intellectual property rights, and either belong to us or are licensed to us to use. You may not copy or use them without our consent in writing.
		p You may print or download content from this website for your own personal use or copy the content to other individuals for their personal information provided that:
		p no content is modified in any way; no graphics are used separately from accompanying text; our copyright and trade mark notices appear in all copies and you acknowledge this website as the source of the material; and the persons to whom you are providing these materials are made aware of these restrictions.
		hr.my-5
		h3 Our liability to you
		h4 1. These terms and conditions do not exclude our liability (if any) to you for:
		ul
			li personal injury or death resulting from our negligence;
			li fraud; or
			li any matter which it would be illegal for us to exclude or to attempt to exclude our liability.
		p Different limitations and exclusions of liability will apply to liability arising as a result of bookings made through this website which are set out in our Booking and Activity Terms and Conditions.
		h4 2. We can't guarantee that this website will be:
		ul
			li compatible with all or any hardware and software which you may use;
			li secure or free from bugs or viruses;
			li available all the time or at any specific time; or
			li accurate and up to date.  But we try.  However, the information on this website is given for general information and interest purposes only, and you should not rely on it.
		p We are only liable to you for losses which you suffer as a direct result of our breach of these terms and conditions, and shall have no liability in connection with the use, inability to use, or results of the use of our website, any websites linked to it and any materials posted on it, or for any indirect or consequential loss or damage.
		p We provide our website to you for your own private use and we are not responsible to you for any loss of revenue or profit, loss of business, business interruption, loss of business or opportunity, or any wasted management or office time.
		p You may have other rights granted by law, and these terms and conditions do not affect these except if the two are inconsistent.  If this is the case, these terms and conditions will override any other rights which you may have, unless this is not permitted by law.
		hr.my-5
		h3 Our Contract
		p These terms and conditions only deal with your access to this website.  As stated above, any other bookings are subject to seperate Terms and Conditions.
		p Please note that we may not necessarily keep a copy of these terms and conditions.  We advise you to print a copy of them for your information in the future.
		p We amend these terms and conditions from time to time.  Every time you wish to use our website, please check these terms and conditions to ensure you understand the terms and conditions that apply at that time.  
		p Our contract and all communications between us will be in English.