.left-sidebar
  .searchbox
    .input-text-wrapper
      input(type="text" class="search-input form-control" placeholder="Search")
  p.sidebar-ttl Category
  .siderbar-block 
    ul.category-list 
      li
        a.list-icon(href="#") All blogs (18) 
      li
        .form-check
          input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault1")
          label(class="form-check-label" for="flexCheckDefault1") Stewardship (4)
        .form-check
          input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault2")
          label(class="form-check-label" for="flexCheckDefault2") Planning & Adaptive Management (4)
        .form-check
          input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault3")
          label(class="form-check-label" for="flexCheckDefault3") Science (3)
        .form-check
          input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault4")
          label(class="form-check-label" for="flexCheckDefault4") Timber (3)
        .form-check
          input(class="form-check-input" type="checkbox" value="" id="flexCheckDefault5")
          label(class="form-check-label" for="flexCheckDefault5") Geospatial and Software (4)
  p.sidebar-ttl Recent Blogs
  .siderbar-block 
    ul.category-list 
      li
        a(href="#") Weyerhaeuser
      li
        a(href="#") Orchard-Loner
      li
        a(href="#") Bluesource
      li
        a(href="#") Sean's PhD
      li
        a(href="#") Miles' PNW work
      li
        a(href="#") Allison’s work?
      li
        a(href="#") KC FLAT (soon?)
      li
        a(href="#") O-L lidar flight (soon?)
      li
        a(href="#") Twisp
      li
        a(href="#") Oly M&E