.pagination li.current, .pagination span.current {
    background-color: #1A9288;
    color: #FFFFFF;
    pointer-events: none;
}

.post-detail .content-wrapper > h1  {
    font-size: 2.5rem !important; 
}

.sub-menu-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-detail .content-wrapper > h2  {
    font-size: 2rem !important; 
}
.post-detail .content-wrapper > h3  {
    font-size: 1.75rem !important; 
}
.post-detail .content-wrapper > h4  {
    font-size: 1.5rem !important; 
}
.post-detail .content-wrapper > h5  {
    font-size: 1.25rem !important; 
}
.post-detail .content-wrapper > h6  {
    font-size: 1rem !important; 
}

.padding-topnn {
    padding-top: 2rem;
}


/* MEMBERS CSS */
.section-members [class*="col-"] {
    display: flex; 
}

.section-members [class*="col-"] .card { 
    flex-grow: 1;
}

.aboutus-card .card-content .card-ttl {
    text-transform: uppercase;
}

.sub-menu-desc {
    line-clamp: 4;
    -webkit-line-clamp: 4;
}

.nav.tab-title-only .nav-link {
    font-size: 22px;
}

@media (max-width: 767.98px) {
    .main-visual h2 {
        font-size: 4.5vw;
        font-weight: 500;
    }
    .main-visual .visual-desc {
        font-size: 16px;
    }
    #menu-toggle {
        width: 24px;
        height: 24px;
        top: 26px;
    }
    #menu-toggle span:nth-child(1) {
        top: 6px; 
    }
    #menu-toggle span {
        height: 2px;
    }
    #menu-toggle span:nth-child(2), #menu-toggle span:nth-child(3) {
        top: 12px;
    }
    #menu-toggle span:nth-child(4) {
        top: 18px;
    }
}