.pagination li.current, .pagination span.current {
    background-color: #1A9288;
    color: #FFFFFF;
    pointer-events: none;
}

.post-detail .content-wrapper > h1  {
    font-size: 2.5rem !important; 
}

.sub-menu-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-detail .content-wrapper > h2  {
    font-size: 2rem !important; 
}
.post-detail .content-wrapper > h3  {
    font-size: 1.75rem !important; 
}
.post-detail .content-wrapper > h4  {
    font-size: 1.5rem !important; 
}
.post-detail .content-wrapper > h5  {
    font-size: 1.25rem !important; 
}
.post-detail .content-wrapper > h6  {
    font-size: 1rem !important; 
}

.padding-topnn {
    padding-top: 2rem;
}