.pagination li.current, .pagination span.current {
    background-color: #1A9288;
    color: #FFFFFF;
    pointer-events: none;
}

.post-detail .content-wrapper > h1  {
    font-size: 2.5rem !important; 
}

.sub-menu-desc{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-detail .content-wrapper > h2  {
    font-size: 2rem !important; 
}
.post-detail .content-wrapper > h3  {
    font-size: 1.75rem !important; 
}
.post-detail .content-wrapper > h4  {
    font-size: 1.5rem !important; 
}
.post-detail .content-wrapper > h5  {
    font-size: 1.25rem !important; 
}
.post-detail .content-wrapper > h6  {
    font-size: 1rem !important; 
}

.padding-topnn {
    padding-top: 2rem;
}


/* MEMBERS CSS */
.section-members [class*="col-"] {
    display: flex; 
}

.section-members [class*="col-"] .card { 
    flex-grow: 1;
}

.aboutus-card .card-content .card-ttl {
    text-transform: uppercase;
}

.sub-menu-desc {
    line-clamp: 6;
    -webkit-line-clamp: 6;
}

.nav.tab-title-only .nav-link {
    font-size: 22px;
}

.list-clients li {
    margin-top: 5px;
    margin-bottom: 5px;
}

.basic-slider .slick-track .slick-slide {
    height: 420px;
}

.post-detail .content-wrapper hr {
    margin-top: 0px;
    margin-bottom: 20px;
}

.main-visual .visual-button .btn-contact:hover {
    color: #ddd;
}

@media (max-width: 767.98px) {
    .main-visual {
        position: relative;
        margin-bottom: 40px;
    }
    .main-visual h2 {
        font-size: 36px;
        font-weight: 500;
    }
    .main-visual .visual-desc {
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
        margin-bottom: 0;
    }
    .main-visual .visual-button {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -60px;
    }

    .main-visual .visual-button .btn-contact {
        background-color: #1A9288;
    }
    .main-visual .visual-button .btn-contact:hover {
        color: #fff;
    }

    #menu-toggle {
        width: 24px;
        height: 24px;
        top: 26px;
    }
    #menu-toggle span:nth-child(1) {
        top: 6px; 
    }
    #menu-toggle span {
        height: 2px;
    }
    #menu-toggle span:nth-child(2), #menu-toggle span:nth-child(3) {
        top: 12px;
    }
    #menu-toggle span:nth-child(4) {
        top: 18px;
    }

    .page-content .primary-title {
        text-align: center;
    }
    .primary-title .section-sub-ttl {
        font-size: 20px;
    }
    .search-content .title-small .section-sub-ttl {
        font-size: 20px;
    }
    .search-content .title-small .main-ttl {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .aboutus-card .card-content .card-ttl {
        font-size: 22px;
    }
}

/* FOOTER */
.section-info a {
    color: #fff;
}

.section-info a:hover {
    color: #fff;
    text-decoration: underline;
}

.global-nav > li .sub-menu {
    opacity: 0;
    height: 0;
    padding-bottom: 0;
}
.open-nav .global-nav > li .sub-menu,
.global-nav > li:hover .sub-menu {
    opacity: 1;
    height: auto;
    padding-bottom: 10px;
}
@media (min-width: 768px) {
    .global-nav > li:hover .sub-menu {
        padding-bottom: 40px;
    }
}

.uppercase {
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .list-jobs .col-6 {
        flex: 0 0 auto;
        max-width: 100%;
    }
}

@media (max-width: 767.98px) {
    .pagination span {
        display: flex; 
    }
}

@media (max-width: 767px) {
    .post-card .card-text {
        height: 50px;
    }
}

@media (max-width: 500px) {
    .archive-post-card .post-card .card-text {
        height: 42px;
    }
}

@media (max-width: 375px) {
    .post-card .card-text {
        height: 42px;
    }
}