//- Footer block

//- Pug HTML
footer.footer
  .container.large 
    #contact-section.contact-info-section
      p.section-title Contact Us
      .section-info 
        dl
          dt Email
          dd contact@resilientforestry.com
        dl
          dt Address
          dd 3614 California Ave SW, PMB 160 Seattle, WA, 98116
        dl
          dt Phone
          dd 206-730-6154
  .container
    .f-navigation 
      .f-col-left
        .f-logo
          a(href="./index.html")
            img(src="./assets/img/images/logo.png", alt="Resilient Forestry" width="150")
        p.text-center.sp Resilient Forestry has a unique skill set in monitoring changes in forests over time for compliance or research objectives. 
        ul.list-social
          li
            a(href="#" target="_blank") 
              img(src="./assets/img/icons/twitter.svg", alt="Twitter", width="18")
          li
            a(href="#" target="_blank") 
              img(src="./assets/img/icons/linked.svg", alt="Linked In", width="17")
          li
            a(href="#" target="_blank") 
              img(src="./assets/img/icons/facebook.svg", alt="Facebook", width="10")
          li
            a.instagram(href="#" target="_blank")
              img(src="./assets/img/icons/instagram.svg", alt="Instagram", width="32")
      .f-col-right
        ul.f-nav 
          li.f-nav-ttl
            a(href="#") Company
          li
            a(href="#") Mission
          li
            a(href="#") Vision
          li
            a(href="#") Members
          li
            a(href="#") Blog
          li
            a(href="#") Careers
        ul.f-nav 
          li.f-nav-ttl
            a(href="#") Services
          li
            a(href="#") Stewardship
          li
            a(href="#") Planning & Adaptive Management
          li
            a(href="#") Science
          li
            a(href="#") Timber
          li
            a(href="#") Geospatial and Software
        ul.f-nav 
          li.f-nav-ttl
            a(href="#") Help
          li
            a(href="#") Term and Conditions
    address.text-center ©2022 by Resilient Forestry
// END: footer
        

