//- Header block
header.header
  .container.large 
    .logo
      a(href="./index.html")
        img(src="./assets/img/images/logo.png", alt="Resilient Forestry" width="150")
    .main-nav
      ul.global-nav
        li
          a(href="./index.html") HOME
        li
          a(href="./index.html") SERVICES
        li
          a(href="./index.html") ABOUT
        li
          a(href="./index.html") BLOG
        li
          a(href="./index.html") CAREERS
        li
          a(href="./index.html") CONTACT
    .account-buttons 
      .login-button 
        a.btn.btn-light(href="#") Login
// END: header
                
        