//- Header block
header.header
  .container.large 
    .logo
      a(href="./")
        img(src="./assets/img/images/logo.png", alt="Resilient Forestry" width="150")
    .main-nav
      ul.global-nav
        li
          a(href="./").active HOME
        li
          a(href="./services.html") SERVICES
        li
          a(href="./about.html") ABOUT
        li
          a(href="./blog.html") BLOG
        li
          a(href="./careers.html") CAREERS
        li
          a(href="./contact.html") CONTACT
    .account-buttons 
      .login-button 
        a.btn.btn-light(href="./login.html") Login
// END: header